html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

svg {
	fill: currentColor;
	stroke: #7a7569; /* Darker shade for the border */
	stroke-width: 1;
	filter: drop-shadow(2px 2px 0 #7a7569);
}

#root:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 50%;
	opacity: 0.1;
	background-image: url('./background.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

/* Disable background image on mobile & tablet */
@media (max-width: 900px) {
	#root:before {
		background-image: none;
	}
}
